body {
  background-image: linear-gradient(rgb(118, 118, 145) ,pink 50% ,pink 50%,pink 50%, white);
  background-repeat: no-repeat;
}

.Head1 {
  text-align: center;
  text-shadow: 2px 2px aqua;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.btn {
  height: 50px;
  width: 300px;
  background-color:turquoise;
  border: 1px solid black;
  border-radius: 20px;
  justify-content: center;
}

#fnComp {
  visibility: hidden;
  height: 250px;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;  
  background-color: aqua;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 200px;
}

#fnComp.active {
  visibility: visible;
  opacity: 1;
}

#fnClas {
  visibility: hidden;
  height: 250px;
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  background-color: darkslateblue;
  opacity: 0;
  position: absolute;
  top: 300px;
  left: 750px;
}

#fnClas.active {
  visibility: visible;
  opacity: 1;
}
